<!DOCTYPE html>
<html lang="en">
<head>
  {% include head.html %}
</head>
<body>
  <a href="#main" class="skip-link">Skip to content</a>
  {% include header.html %}
  <div class="ruler" aria-hidden="true"></div>
       <script async="async" data-cfasync="false" src="https://pl31489408.profitableratecpmnetwork.com/b9d05b997facba5a1ba689dd8b1d4482/invoke.js"></script>
<div id="container-b9d05b997facba5a1ba689dd8b1d4482"></div>

  <main id="main">
    <div style="display: flex; flex-wrap: wrap;">
      <div style="min-width: 75%;">
         {{ content }}
    </div>
    </div>
  </main>
  {% include footer.html %}
  <script src="/assets/js/script.js"></script>
</body>
</html>
