<!DOCTYPE html>
<html lang="en">
<head>
  {% include head.html %}
  <script src="https://analytics.ahrefs.com/analytics.js" data-key="Fk+m+GvigwK4FT0Uhd6Q4w" async></script>
</head>
<body>
  <a href="#main" class="skip-link">Skip to content</a>
  {% include header.html %}
  <div class="ruler" aria-hidden="true"></div>
  <script async="async" data-cfasync="false" src="https://pl29676384.effectivecpmnetwork.com/79c41b6e6c590a043b788b1b40db50de/invoke.js"></script>
<div id="container-79c41b6e6c590a043b788b1b40db50de"></div>

  <main id="main">
    {{ content }}
  </main>
  {% include footer.html %}
  <script src="/assets/js/script.js"></script>
</body>
</html>
